.jumbotron {
  background-color: rgba(0, 0, 0, 0);
}

#theImage {
  width: 100%;
}

#header {
  font-family: 'Gloria Hallelujah', cursive;
}

p {
  font-family: 'Courgette', cursive;
}

.bg, body {
    /* The image used */
    background-image: url(../images/BGimage.jpg);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
